.cabecalho {
  background-color: #154580;
 text-align: center;

}

.cabecalho{
  padding: 2rem 3rem;
}

.cabecalho p {
  font-size: 2rem;
  color: #6BD1FF;
}

@media (max-width: 576px) {
  .cabecalho p {
    font-size: 1.5rem
  }
}