footer {
  background-color: #154580;
  height: 10vh;
  padding: 1rem 2rem;
  text-align: center;
}

.TextoCopyright {
  justify-self: center;
  grid-area: TextoCopyright;
}

footer small {
  color: white;
}

/* @media (max-width: 576px) {
  .cabecalho{
    padding: 2rem;
  }

  .cabecalho p {
    font-size: 1.5rem
  }
}

@media (max-width: 768px) {
  footer {
    display: flex;
    flex-direction: column-reverse;
    gap: 1rem;
  }
} */